#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  align-items: center;
  background-color:  #152238;
  color: white;
  min-height:100vh;
}

.Card{
 width: 50%;
 background-color:  wheat;
 border: #152238 solid 3px;
 color: #152238;
 padding: 3rem;
 margin: 1rem;
 outline: wheat solid 2px;
 border-radius: 5px;
}
a{
  padding: 3px;
  border: #152238 solid 1px;
  border-radius: 5px;
}